.btnblue {
	background-color: blue;
	color:  white;
	padding: 10px 18px;
	border-radius: 7px;
	font-weight: bolder;
	display: block;
	width: 30%;
	margin: 0 auto;
	border:  1px black;
	transition: 1s;
	text-align: center;
}

.btnblue:hover {
	background-color: black;
	color: white;
	transition: 1s;
}
